@import "bootstrap";

body{
	font-size: 100%;
	line-height: 1.4;
}

/* Estilos Generales */
@mixin background-size($bgsize) {
	-webkit-background-size: $bgsize;
	   -moz-background-size: $bgsize;
	     -o-background-size: $bgsize;
			background-size: $bgsize;
}

@mixin transition($time, $speed) {
	-webkit-transition: $time;
	   -moz-transition: $time;
	     -o-transition: $time;
			transition: $time;
}
$principal-font: 'Lato', sans-serif;
$btn-bgc: #A4B9BE;
$slideshow-bgc: #A4B9BE;
$contact-bgc: #2D3035;

$pricing-item01-principal-color: #535A5E;
$pricing-item02-principal-color: #58AD52;
$pricing-item03-principal-color: #53A1AD;

$pricing-item01-secondary-color: #E9EEF2;
$pricing-item02-secondary-color: #DfEBDF;
$pricing-item03-secondary-color: #DEE9EB;

body {
	font-family: $principal-font;
	font-weight: 400;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $principal-font;
	font-weight: 700;
}
h2 { font-size: 38px; }
h3 {
	font-size: 30px;
	font-weight: 300; 
}

.text-color01 { color: #535A5E; }
.text-color02 { color: #9FA4A7; }
.text-color03 { color: #F1F1F1; }
.text-color04 { color: #98A0A5; }
.text-color05 { color: #E9EEF2; }

/* Secciones wrap */
.btn-reset {
	background-color: $btn-bgc;
	border: none;
	border-radius: 3px;
	color: #FFFFFF;
}
#btn-order-now{
	@extend .btn-reset;
	padding: 1em 5em;
	margin-top: 2em;
	font-size: 21px;
}
#btn-submit{
	@extend .btn-reset;
	width: 100%;
	padding: 1em;
	margin-top: 15px;
	font-size: 18px;
	color: #2d3035;
}

.navbar-top {
	background-color: transparent;
	border: none;
	@include transition(0.5s, ease);
}
.navbar-default { .navbar-brand { color: #FFFFFF; h1 { font-weight: 300; } } }
.navbar-top .navbar-nav>li>a {
	color: #E9EEF2;
	font-weight: 700;
}
.navbar-nav-top { margin-top: 2em; }
.nav-bg{ background-color: #F1F1F1; }
.nav-links-color { color: #535A5E !important; }

#headerwrap {
	background: url('../img/DeathtoStock_Wired4.jpg') no-repeat center center;
	text-align: center;
	background-attachment: fixed;
	@include background-size(100%);
	@include background-size(cover);
	position: relative;
	min-height: 550px;
	width: 100%;
	color: #FFFFFF;
	p { font-size: 21px; }
}
#headerwrap-bg {
	position: absolute;
	left: 0;
	top: 0; 
	bottom: 0;
	width: 100%;
	padding: 12em 1em 2em;
	background-color: rgba(0,0,0,0.7); 
}

.wrapsections {
	text-align: center;
	padding: 6em 0;
}
.wrapsecond-sections { margin-top: 3em; }

#slideshow {
	background-color: $slideshow-bgc;
	color: #FFFFFF;
	padding: 4em 0 0;
	border-bottom: 1px solid #A4B9BE;
}
.carousel-control.left,.carousel-control.right { background-image: none; }
.glyphicon-menu-left,.glyphicon-menu-right{
	margin-top: 8em;
	font-size: 1.5em;
}
.carousel-control{ text-shadow: none; }

.pricing-item {
	padding-bottom: 1em;
	border-radius: 5px;
	overflow: hidden;
	h3 {
		height: 70px;
		padding: 25px 0 0;
		margin: 0;
		color: #E9EEF2;
		line-height: 15px;
		small {
			color: #E9EEF2;
			font-size: 45%;
		}
	}
	p {
		margin: 2em 0;
		color: #535A5E;
	}
}

#pricing-item01 { 
	background-color: $pricing-item01-secondary-color; 
	h3 { background-color: $pricing-item01-principal-color; } 
}
#pricing-item02 { 
	background-color: $pricing-item02-secondary-color; 
	h3 { background-color: $pricing-item02-principal-color; padding: 20px 0 0; }
}
#pricing-item03 { 
	background-color: $pricing-item03-secondary-color; 
	h3 { background-color: $pricing-item03-principal-color; } 
}

.pricing-link {
	display: block;
	padding: 1em;
	margin-top: 1em;
	color: #E9EEF2;
	border-radius: 5px;
}
#pricing-link01 { background-color: $pricing-item01-principal-color; }
#pricing-link02 { background-color: $pricing-item02-principal-color; }
#pricing-link03 { background-color: $pricing-item03-principal-color; }

#contact {
	background-color: $contact-bgc;
	color: #F1F1F1;
	textarea {
		resize: none;
		padding: 16px 12px;
	}
}
.form-control {
	padding: 25px 12px;
	border: 1px solid #E9EEF2;
	background-color: transparent;
	color: #E9EEF2;
}

.form-control::-webkit-input-placeholder { color: #E9EEF2;}
.form-control:-moz-placeholder { color: #E9EEF2;}
.form-control::-moz-placeholder { color: #E9EEF2;}
.form-control:-ms-input-placeholder { color: #E9EEF2;}
.social-icons{ margin-top: 2em; }
.social-icons{
	.fa{
		width: 25px;
		height: 25px;
		margin: 0 3px;
		border-radius: 100%;
		font-size: 15px;
		font-weight: 700;
		line-height: 25px;
		outline: 0;
		color: #2D3035;
		background-color: #E9EEF2;
	}
}

.navbar-bottom {
	margin-bottom: 0;
	padding: 2em 0 1.5em;
	.navbar-nav>li>a {
		padding-top: 0;
		padding-bottom: 0;
		color: #535A5E
	}
}
.navbar-header-bottom p { color: #535A5E; }

/* Responsive */
@media (max-width: 768px){
	.navbar-default { .navbar-brand { padding: 5px; h1 { margin: 0 } } }
	#headerwrap-bg { padding: 9em 1em 2em; }
	#btn-order-now { padding: .7em 1.5em; }
	.pricing-item{ margin-top: 3.5em; }
	.navbar-bottom{ text-align: center; }
	.navbar-nav-bottom { li { margin-top: 1em; } }
}